@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root{
  --font-family:'Open Sans', sans-serif;
  --primary-color: #2D3142;
  --secondary-color: #4F5D75;
  --bg-color: #F6F6F6;
}